@import url('https://fonts.googleapis.com/css2?family=Scada&display=swap');

.productTile{
    width: 20rem;
    height: 25rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.2s ;
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.productTile:hover{
    transform: scale(1.02);
}
.productPrice{
    position: absolute;
    right: 20px;
    top: 20px;
    font-family: 'Scada', sans-serif;
    font-weight: bold;

}
.productImage{
    width: 80%;
    height: 60%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modelImage{
    max-width: 100%;
    max-height: 100%;
}

.productTitle{
    font-size: 1.7rem;
    font-family: 'Scada', sans-serif;
    color: #494949;
}
